<template name="contact">
	<div class="container contact">
		<div class="container-twitter col-lg-3 col-md-3">
			<img class="icon-social" src="icon-twitter.png" alt="">
		</div>
		<div class="container-facebook col-lg-3 col-md-3">
			<img class="icon-social" src="icon-facebook.png" alt="">
		</div>
		<div class="container-blog col-lg-3 col-md-3">
			<img class="icon-social" src="icon-blog.png" alt="">
		</div>
		<div class="container-contact col-lg-3 col-md-3">
			<h1 class="text-center">CONTACT</h1>
			<p class="lead text-center"><img src="" alt="">info@codeforaus.gov</p>
		</div>
	</div>
	<p class="text-right">(c) Code for Australia 2013</p>
</template>